.infoWrapper {
    background-color: beige;
    width: 330px;
    height: 500px;
    margin-left: 45px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
    align-items: center;
    border-top: 10px solid $red;
    border-bottom: 10px solid $red;
    border-left: 2px solid $red;

    .skillimage img {
        border: 1px solid black;
        height: 90px;
    }

    .skillDescription {
        align-self: start;
        padding-left: 15px;
        padding-top: 15px;
        width: 100%;
        .toprow {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .skillname {
                color: $red;
                font-size: 1.2rem;
            }

            .energy {
                font-size: 12px;
            }
        }
        .bottomrow {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 35px;
            font-size: 10px;

            .classes{
                text-transform: uppercase;   
                padding-bottom: 5px;
            }

            .cooldown{
                padding-bottom: 5px;
            }

            .energy{
                img{
                    padding-right:5px;
                    padding-top: 2px;
                }
            }
        }
    }
}
