.game{
    width: 100%;
    padding: 20px 20px;
    background-color: blue;
    height: 100vh;
    background: url('../../assets/ingame/bgingame.png') no-repeat;
    &__nav{ // in-game navigation
        color:blue;
    }

    &__battle-container{

        
    }

   
}

