.player {


    &__char {
        display: flex;
        flex-direction: row;
        padding-top: 30px;

        &-skills-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            border-top: 5px;
            border-bottom: 5px;
            border-color: $red;
            border-style: solid;
            width: 500px;
            background-color: $beige;

            img {
                border: 1px solid black;
            }
        }

        &-wrapper {
            padding: 5px 5px;
            position: relative;
            left: 25px;
            bottom: 10px;
        }

        &-health {
            .hpValue {
                position: absolute;
                text-align: center;
                color: black;
                padding-top: 2.5px;
                font-size:.95rem;
                padding-left: 10px;
            }
            progress {
                border: 1px solid black;
                height: 20px;
                border-radius: 0;
                width: 77px;
                background-color: red;
                font-size: 40px;
            }
        }
    }
}

.selectedSkill {
    height: 75px;
    width: 75px;
    background-color: gray;
    border: 1px solid black;
}

.bordered img {
    border: 1px solid black;
}

/** Utility **/
.selectable:hover {
    opacity: 0.8;
}

.selected {
    opacity: 0.4;
}
