.player {
    &__char {
        display: flex;
        flex-direction: row;
        padding-top: 50px;

     

        &-skills-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            border-top: 5px;
            border-bottom: 5px;
            border-color: $red;
            border-style: solid;
            width: 500px;
            background-color: $beige;

            img {
                border: 1px solid black;
            }
        }

        &-wrapper {
            padding: 5px 5px;
            position: relative;
            left: 25px;
            bottom: 10px;
        }

        &-health {
            padding-top: 5px;
            .hpValue {
                position: absolute;
                text-align: center;
                color: black;
                font-size: 0.95rem;
                padding-left: 10px;
            }

            progress {
                border: 1px solid black;
                width: 78px;
                height: 20px;
            }

            progress {
                color: white;
            }

            progress::-webkit-progress-value {
                background: white;
            }

            progress::-moz-progress-bar {
                background: lightcolor;
            }

            progress::-webkit-progress-value {
                background: $green;
            }

            progress::-webkit-progress-bar {
                background: white;
            }
        }
    }
}


.selectedSkill {
    height: 75px;
    width: 75px;
    background-color: gray;
    border: 1px solid black;
}

.bordered img {
    border: 1px solid black;
}

/** Utility **/
.selectable:hover {
    opacity: 0.8;
}

.selected {
    opacity: 0.4;
}

.enemy-container{
    display:flex;
    flex-direction: column;

    .enemy-wrapper{
        padding-bottom: 55px;
        margin-left: 100px;
    }
}
