html{
    font-size: 100%;
    box-sizing: border-box;
   
}


*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.3;
    width: 100%;

}

// Utilities
.flipped{
    transform: scaleX(-1);
}

// Colors
$beige: #f4e9c9;
$red: #b92611;
$green: #3ede43;